<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Text Enlarger</title>
</head>

<body>
    <h1>Text Enlarger</h1>
    <div id="input-form">
        <form method="POST" action="/">
            <label>Input</label><textarea name="input"></textarea>
            <p>Banner</p>
            <label>Shadow</label><input name="banner" type="radio" value="shadow" />
            <label>Standard</label><input name="banner" type="radio" value="standard" checked />
            <label>Thinkertoy</label><input name="banner" type="radio" value="thinkertoy" />
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div id="output-text">
        <textarea>{{ .Ltext }}</textarea>
    </div>
</body>

</html>